FORMAT: 1A
HOST: http://digitalnsk.sibtiger.com:5000/

# DigitalNSK

    Описание

## Пользователь [/user]

### Авторизация пользователя [POST/user/signin/]
##### с помощью email'а и пароля
+ Request (application/json)

        {
            'email': 'Электронный_адрес',
            'password': 'Пароль'
        }

+ Response 201 (application/json)

    + Body

            {
                'firstName': 'Имя',
                'lastName': 'Фамилия',
                'token': 'Bearer token'
            }

+ Response 403 (application/json)

    + Body

            {
                'error': 'Пользователь не найден'
            }

+ Response 400 (application/json)

    + Body

            {
                'error': 'Пожалуйста, введите email и пароль'
            }

### Регистрация пользователя(Участник) [POST/user/signup/]
##### с помощью email'а и пароля
+ Request (application/json)

        {
            'id':
            {
                'email': 'Электронный_адрес*',
                'firstName': 'Имя*',
                'lastName': 'Фамилия*',
                'patronymic': 'Отчество',
                'password': 'Пароль*',
                'photo': 'Фотграфия',
                'phoneNumber': 'Номер_телефона*',
                'role': 'Роль*'
            }
            'eduInstitution': 'Учебное_заведение',
            'level': 'Класс/курс',
            'vkURL': 'Ссылка_на_аккаунт_Вконтакте',
            'instURL': 'Ссылка_на_аккаунт_instagram',
            'fbURL': 'Ссылка_на_аккаунт_facebook',
            'mailing': 'Подписка_на_рассылку'
        }

+ Response 201 (application/json)

    + Body

            {
                'firstName': 'Имя',
                'lastName': 'Фамилия',
                'token': 'Bearer token'
                нужно доработать!!!
            }

+ Response 403 (application/json)

    + Body

            {
                'error': 'Не удалось зарегистрировать пользователя'
            }





