FORMAT: 1A
HOST: http://digitalnsk.sibtiger.com:5000/

# DigitalNSK

    Описание

## Пользователь [/user]

### Авторизация пользователя [POST/user/signin/]
##### с помощью email'а и пароля
+ Request (application/json)

    + Body

            {
                "email": "Электронный_адрес",
                "password": "Пароль"
            }

+ Response 201 (application/json)

    + Headers
            jwt: "bearer token"

    + Body

            {
                "data":
                {
                    "email": "Электронный_адрес",
                    "firstName": "Имя",
                    "lastName": "Фамилия"
                }
            }

+ Response 403 (application/json)

    + Body

            {
                "errors":
                {
                    "error": "Пользователь не найден"
                }
            }

+ Response 400 (application/json)

    + Body

            {
                "errors":
                {
                    "error": "Пожалуйста, введите email и пароль"
                }
            }

### Регистрация пользователя(Участник) [POST/user/signup/]
##### с помощью email'а и пароля
+ Request (application/json)

    + Body
            {
                "id":
                {
                    "email": "Электронный_адрес*",
                    "firstName": "Имя*",
                    "lastName": "Фамилия*",
                    "patronymic": "Отчество",
                    "password": "Пароль*",
                    "photo": "Фотграфия",
                    "phoneNumber": "Номер_телефона*",
                    "role": "Роль*"
                },
                "eduInstitution": { "name": "Учебное_заведение"},
                "level": "Класс/курс",
                "vkURL": "Ссылка_на_аккаунт_Вконтакте",
                "instURL": "Ссылка_на_аккаунт_instagram",
                "fbURL": "Ссылка_на_аккаунт_facebook",
                "mailing": "Подписка_на_рассылку"
            }

+ Response 201 (application/json)

    + Headers
            jwt: bearer token

    + Body
            {
                "data": 
                {
                    "id": 
                    {
                        "id": "id пользователя",
                        "email": "email",
                        "date_joined": "дата регистрации",
                        "firstName": "имя",
                        "lastName": "фамилия",
                        "photo": "url фото",
                        "patronymic": "отчество",
                        "role": "роль"
                    },
                    "eduInstitution": "образовательное учреждение",
                    "level": "класс/курс",
                    "vkURL": "vk url",
                    "instURL": "instagram url",
                    "fbURL": "fb url",
                    "passedTests": ["завершенные тесты"],
                    "events": "мероприятия || null",
                    "progress": "личный прогресс"
                }
            }

+ Response 403 (application/json)

    + Body

            {
                "errors":
                {
                    "error": "Не удалось зарегистрировать пользователя"
                }
            }

### Редактирование профиля [POST/user/edit/]
##### не готово!!!
+ Request (application/json)

    + Body
            {

            }

+ Response 201 (application/json)

    + Body
            {
                "data":
                {

                }
            }

+ Response 403 (application/json)

    + Body

            {
                "errors":
                {

                }
            }

### Восстановление пароля [POST/user/recovery-password/]
##### не готово!!!
+ Request (application/json)

    + Body
            {

            }

+ Response 201 (application/json)

    + Body
            {
                "data":
                {

                }
            }

+ Response 403 (application/json)

    + Body

            {
                "errors":
                {

                }
            }

### Авторизация через Вконтакте [POST/user/auth-vk/]
##### не готово!!!
+ Request (application/json)

    + Body
            {

            }

+ Response 201 (application/json)

    + Body
            {
                "data":
                {

                }
            }

+ Response 403 (application/json)

    + Body

            {
                "errors":
                {

                }
            }

### Авторизация через Instagram [POST/user/auth-inst/]
##### не готово!!!
+ Request (application/json)

    + Body
            {

            }

+ Response 201 (application/json)

    + Body
            {
                "data":
                {

                }
            }

+ Response 403 (application/json)

    + Body

            {
                "errors":
                {

                }
            }

### Авторизация через Facebook [POST/user/auth-fb/]
##### не готово!!!
+ Request (application/json)

    + Body
            {

            }

+ Response 201 (application/json)

    + Body
            {
                "data":
                {

                }
            }

+ Response 403 (application/json)

    + Body

            {
                "errors":
                {

                }
            }

### Регистрация через Вконтакте [POST/user/reg-vk/]
##### не готово!!!
+ Request (application/json)

    + Body
            {

            }

+ Response 201 (application/json)

    + Body
            {
                "data":
                {

                }
            }

+ Response 403 (application/json)

    + Body

            {
                "errors":
                {

                }
            }

### Регистрация через Instagram [POST/user/reg-inst/]
##### не готово!!!
+ Request (application/json)

    + Body
            {

            }

+ Response 201 (application/json)

    + Body
            {
                "data":
                {

                }
            }

+ Response 403 (application/json)

    + Body

            {
                "errors":
                {

                }
            }

### Регистрация через Facebook [POST/user/reg-fb/]
##### не готово!!!
+ Request (application/json)

    + Body
            {

            }

+ Response 201 (application/json)

    + Body
            {
                "data":
                {

                }
            }

+ Response 403 (application/json)

    + Body

            {
                "errors":
                {

                }
            }

## Тестирование [/tests]

### Получение теста №1 [GET/tests/test1/]
+ Response 200 (application/json)

    + Body
            {
                "name": "Предпочитаемая сфера",
                "desciption": "Ниже представлены мысленные эксперименты касательно разных направлений деятельности. Пожалуйста укажите, какой из двух вариантов ответа наиболее предпочтителен для вас. Возможно, некоторые направления покажутся вам равнозначно интересными или же, напротив, вы не будете заинтересованы ни в одном из них. В таком случае всё же отдайте предпочтение одному из вариантов.",
                "questions": [
                    {
                        "content": "В моем городе проходит одновременно две масштабные конференции с зарубежными специалистами по двум направлениям. Зная, что я могу посетить лишь одну из них, остановлю свой выбор на:",
                        "answers": [
                            {
                                "content": "конференция «Кибербезопасность в каждый дом. Опыт и перспективы»",
                                "group": 4
                            },
                            {
                                "content": "конференция «Природные ресурсы: экослед и жизнь взаймы»",
                                "group": 2
                            }
                        ]
                    },
                    {
                        "content": "В своей работе я бы хотел использовать цифровые технологии в качестве:",
                        "answers": [
                            {
                                "content": "площадки для профессионального взаимодействия с другими людьми",
                                "group": 1
                            },
                            {
                                "content": "системы, которую я буду настраивать и совершенствовать",
                                "group": 4
                            }
                        ]
                    },
                    {
                        "content": "Благотворительный фонд «Ритм будущего» предоставил вам выбор в том, как распорядиться крупной суммой. Вы выберете профинансировать проект:",
                        "answers": [
                            {
                                "content": "«Онлайн-образование для стран третьего мира: дай ребенку шанс»",
                                "group": 1
                            },
                            {
                                "content": "«Социализация роботов-нянь в дом малютки как фактор увеличения выживаемости младенцев»",
                                "group": 5
                            }
                        ]
                    },
                    {
                        "content": "Я бы хотел внести вклад в развитие человечества в области:",
                        "answers": [
                            {
                                "content": "разработки программы психологической реабилитации военнослужащих с помощью искусственного интеллекта",
                                "group": 5
                            },
                            {
                                "content": "улучшения медицинской диагностики с помощью Big Data",
                                "group": 2
                            }
                        ]
                    },
                    {
                        "content": "В свободное время мне скорее было бы интересно прочитать новость:",
                        "answers": [
                            {
                                "content": "о создании прототипа искусственной руки для помощи пациентам, потерявшим конечность",
                                "group": 3
                            },
                            {
                                "content": "о снижении производственных рисков за счет переструктурирования иерархии взаимоотношений внутри компании",
                                "group": 1
                            }
                        ]
                    },
                    {
                        "content": "Если бы мне предложили сделать доклад с возможностью выбора темы, я бы скорее остановился на:",
                        "answers": [
                            {
                                "content": "«Криптовалюты: что нужно знать каждому»",
                                "group": 4
                            },
                            {
                                "content": "«Эмоциональный интеллект: методы развития у взрослых людей»",
                                "group": 5
                            }
                        ]
                    },
                    {
                        "content": "В одно и то же время в школе проходят внеурочные занятия по двум направлениям. Я определенно выберу занятия по:",
                        "answers": [
                            {
                                "content": "робототехнике",
                                "group": 3
                            },
                            {
                                "content": "разработке веб-приложений",
                                "group": "4"
                            }
                        ]
                    },
                    {
                        "content": "Думаю, что в общеобразовательную программу было бы полезно добавить курсы по:",
                        "answers": [
                            {
                                "content": "развитию навыков публичных выступлений и ведения переговоров",
                                "group": 5
                            },
                            {
                                "content": "основам виртуальной реальности как ресурса для самообразования",
                                "group": 3
                            }
                        ]
                    },
                    {
                        "content": "Я бы с интересом побыл стажером в компании, которая занимается:",
                        "answers": [
                            {
                                "content": "продвижением социальных проектов по технологии краудфандинга",
                                "group": 1
                            },
                            {
                                "content": "разработкой роботизированного комбайна для сбора урожая пшеницы",
                                "group": 2
                            }
                        ]
                    },
                    {
                        "content": "Местная газета поручила вам подготовить статью о современных технологиях. Для сбора необходимых сведений вам выдадут пропуск в любую компанию. Вы, конечно же, выберете посетить:",
                        "answers": [
                            {
                                "content": "первое в мире здание, снабжаемое энергией с помощью морских водорослей",
                                "group": 2
                            },
                            {
                                "content": "лабораторию по разработке системы «умный город» для восточного мегаполиса",
                                "group": 3
                            }
                        ]
                    }
                ]
            }

+ Response 403 (application/json)
    + Body
            {
                "status": False,
                "error": "что-то пошло не так"
            }

### Получение результатов теста №1 [POST/tests/test1/]
+ Request (application/json)

    + Body
            {
	            "answers": [массив_int_от_1_до_5] - группы ответов на вопросы(размер массива - количество вопросов в тесте: 10)
            }

+ Response 200 (application/json)

    + Body
            {
                "status": true,
                "points": [
                    {
                        "type": "Социальное управление",
                        "value": 5
                    },
                    {
                        "type": "Естественные науки и биотехнологии",
                        "value": 5
                    },
                    {
                        "type": "Современная инженерия",
                        "value": 0
                    },
                    {
                        "type": "IT-компетенции",
                        "value": 0
                    },
                    {
                        "type": "Гуманитарные технологии, наука и искусство",
                        "value": 0
                    }
                ]
            }

+ Response 403 (application/json)
    + Body
            {
                "status": False,
                "error": "описание_ошибки"
            }